body {
    background-color: #f8f9fa !important;
}

.navbar-inner, .navbar-inner span {
    background-color: #7852b3;
    color: #ffff !important;
}

.card-custom img {
    max-height: 280px;
    min-height: 280px;
    object-fit: cover;
}